[core]
	autocrlf = input
	editor = nvim
[user]
	name = Nathan Ramdial
	email = nathan.ramdial@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[pull]
	rebase = true
[rebase]
	autoStash = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[diff]
	algorithm = histogram
